* {
    padding: 0;
    margin: 0;
}
body { 
    background-image: url(/personalwebsite/pic\ 3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.container {
    width: 100%;
    height: 100%;
}
.main {
    height: 45px;
    width: 100%;
}
h1 {
    font: caption;
    color: green;
    text-align: center;
    font-size: 40px;
}
h1:hover {
    color: orangered;
}
.header {
    height: 48px;
    width: 100%;
}
.header ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    margin: 0 10px;
}

ul {
    padding: 20px;
  }
li {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    font-size: 15px;
}

ul li {
    color: green;
    margin: 5px;
    list-style-type: none;
  }

  .header ul li a {
      color: green;
      font-size: 25px;
  }

  .header ul li a:hover {
      color: orangered;
  }
#carrier {
    height: 500px;
    width: 100%;
}

h2 {
    font: caption;
    color: green;
    text-align: center;
    padding-bottom: 4px;
    padding-top: 2px;
    font-size: 30px;
    margin: 45px;
}
h2:hover {
    color: orangered;
}
img {
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    display: block;
  }
  
img:hover {
    box-shadow: 0 0 2px 1px rgba(179, 9, 80, 0.795);
  }

.icons a i{
    text-decoration: none;
    color: green;
}

.icons i{
    color: green;
    font-size: 50px;
    transition: 0.3s ease;
}

.icons i:hover{
    color: orangered;
}